
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Raleway');
#container-img {
  padding: 0;
}
.font1 {
  font-family: 'Raleway', sans-serif;
  color: black !important;
}

#portfolio-list-2{
display: none;
}

h4 {
  font-family: 'Montserrat', sans-serif;
}

.about-text {
  padding-top: 2%;
  padding-bottom: 2%;
  text-align: center;
  background-color: #1D3557;
  color: white;
}

#portfolio-work {
  overflow: hidden;
  padding: 80px 0;
}

#portfolio-work .block .portfolio-menu {
  padding-bottom: 0;
  text-align: center;
}

#portfolio-work .block .portfolio-menu ul {
  border: 1px solid #999999;
  display: inline-block;
  margin-bottom: 40px;
}

#portfolio-work .block .portfolio-menu ul li {

  display: inline-block;

  padding: 0px 25px;

  cursor: pointer;

  font-size: 15px;

  line-height: 40px;

  font-weight: 600;

  color: #333333;

  text-transform: capitalize;

  position: relative;

}

#portfolio-work .block .portfolio-menu ul .active {

  color: #655E7A;

  position: relative;

}

#portfolio-work .block .portfolio-menu ul .active:before {

  content: "\f0d7";

  position: absolute;

  font-family: 'FontAwesome';

  bottom: -18px;

  font-size: 10px;

  width: 20px;

  left: 0px;

  right: 0px;

  top: 23px;

  margin: 0 auto;

  color: #fff;

  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);

  -webkit-transition: all 0.4s ease-in-out;

  -moz-transition: all 0.4s ease-in-out;

  -o-transition: all 0.4s ease-in-out;

  -ms-transition: all 0.4s ease-in-out;

  transition: all 0.4s ease-in-out;

}

#portfolio-work .block .portfolio-menu ul li:hover:before {
  content: "\f0d7";
  position: absolute;
  font-family: 'FontAwesome';
  bottom: -18px;
  font-size: 30px;
  width: 20px;
  left: 0px;
  right: 0px;
  top: 24px;
  margin: 0 auto;
  color: #fff;
  text-shadow: 0 1px 0px rgba(0, 0, 0, 0.9);
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

#portfolio-work .bios{
  color: black;
  text-align: center;
  font-size: 2em;
}

#portfolio-work .bios p{
  color: white;
  text-align: center;
  font-size: 2em;
}

#portfolio-work .bio-info{
  color: white;
  text-align: center;
}

#portfolio-work .block .portfolio-contant ul li {
  width: 23%;
  height: 392px;
  overflow: hidden;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
}

@media screen and (min-width: 0px) and (max-width: 970px){
  #portfolio-work .block .portfolio-contant ul li {
    height: 262px;
  }
}

#portfolio-work .block .portfolio-contant ul li:hover .overly {

  opacity: 100%;

}

#portfolio-work .block .portfolio-contant ul li:hover .position-center {

  position: absolute;

  top: 50%;

  -webkit-transform: translate(0%, -50%);

  -moz-transform: translate(0%, -50%);

  -ms-transform: translate(0%, -50%);

  transform: translate(0%, -50%);

}

#portfolio-work .block .portfolio-contant ul li a {

  display: block;

  color: #fff;

}

#portfolio-work .block .portfolio-contant ul li a h2 {

  font-size: 22px;

  text-transform: uppercase;

  letter-spacing: 1px;

}

#portfolio-work .block .portfolio-contant ul li a p {

  font-size: 15px;

}

#portfolio-work .block .portfolio-contant ul li a span {

  font-style: italic;

  font-size: 13px;

  color: #655E7A;

}

#portfolio-work .block .portfolio-contant ul img {

  width: 100%;

  height: auto;

}

#portfolio-work .block .portfolio-contant .overly {

  color: black;

  font-style: italic;

  font-size: 5em;

  position: absolute;

  top: 40%;

  bottom: 0%;

  right: 0;

  left: 24%;

  background: rgba(17, 21, 43, 0);

  opacity: 0;

  -webkit-transition: .3s all;

  -o-transition: .3s all;

  transition: .3s all;

  text-align: center;

}

#portfolio-work .block .portfolio-contant .position-center {

  margin-right: 4%; !important

  position: absolute;

  top: 50%;

  left: 10%;

  -webkit-transform: translate(0%, 50%);

  -moz-transform: translate(0%, 50%);

  -ms-transform: translate(0%, 50%);

  transform: translate(0%, 50%);

  -webkit-transition: .5s all;

  -o-transition: .5s all;

  transition: .5s all;

}

#portfolio-contant-centered{
  padding-right: 15%;
}

#portfolio-work .block .mix {
  display: none;
}

/*--
	wrapper-work Start
--*/

#wrapper-work {

  overflow: hidden;

  padding-top: 100px;

}

#wrapper-work ul li {

  width: 50%;

  float: left;

  position: relative;

}

#wrapper-work ul li img {

  width: 100%;

  height: 100%;

}

#wrapper-work ul li .items-text {

  position: absolute;

  top: 0;

  bottom: 0;

  left: 0;

  right: 0;

  width: 100%;

  height: 100%;

  color: #fff;

  background: rgba(0, 0, 0, 0.6);

  padding-left: 44px;

  padding-top: 140px;

}

#wrapper-work ul li .items-text h2 {

  padding-bottom: 28px;

  padding-top: 75px;

  position: relative;

}

#wrapper-work ul li .items-text h2:before {

  content: "";

  position: absolute;

  left: 0;

  bottom: 0;

  width: 75px;

  height: 3px;

  background: #fff;

}

#wrapper-work ul li .items-text p {

  padding-top: 30px;

  font-size: 16px;

  line-height: 27px;

  font-weight: 300;

  padding-right: 80px;

}

/*--
	features-work Start
--*/

#features-work {

  padding-top: 50px;

  padding-bottom: 75px;

}

#features-work .block ul li {

  width: 19%;

  text-align: center;

  display: inline-block;

  padding: 40px 0px;

}

/*--	images hovering --*/
#portfolio-work .block img{

  margin-left: 0%;
  margin-right: 0%;
  height: auto;
  border-radius: 100%;
}

#portfolio-work .pic-container{
  display:block;
  width:100%;
  height:100%;
  position:relative;
}

#portfolio-work .pic-container .pic-box{
  display:block;
  width:100%;
  height:100%;
}

#portfolio-work .pic-container .pic-hover{
  position:absolute;
  top:0;
  left:0;
  display:none;
}

#portfolio-work .pic-container:hover .pic-hover{
  display: block;
}

/*---------------------------------------------
					Work Close
-----------------------------------------------*/
