<!-- footer Start -->
<footer>
  <div class="container">
    <div class="row" style="margin-right: -5%;margin-left: -15px;">
      <div class="col-md-3 col-sm-4 item">
        <p class="style-footer-head">Learn About</p>
        <ul>
          <li><a style="font-size: 12.800px;" href="{{ site.baseurl }}/get-involved/program">Our Program</a></li>
          <li><a style="font-size: 12.800px;" href="{{ site.baseurl }}/aboutUs">Our Team</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4 item">
        <p class="style-footer-head">Get Involved</p>
        <ul>
          <!-- <li><a style="font-size: .800rem;" href="#">Donate</a></li> -->
          <li><a style="font-size: 12.800px;" href="{{ site.baseurl }}/get-involved/volunteer">Volunteer</a></li>
          <li><a style="font-size: 12.800px;" href="{{ site.baseurl }}/get-involved/program/participate">Apply</a></li>
        </ul>
      </div>
      <div class="col-md-3 col-sm-4 item">
        <p class="style-footer-head">Connect</p>
        <ul>
          <li><a style="font-size: 12.800px;" href="mailto:leo@devmission.org">leo@devmission.org</a></li>
          <a href="https://www.facebook.com/devmission.org/" class="facebook-icon-footer"><i class="icon ion-social-facebook border-of-social"></i></a>
          <a href="https://twitter.com/devMission_" class="twitter-icon-footer"><i class="icon ion-social-twitter border-of-social"></i></a>
          <a href="https://www.instagram.com/devmissionorg/" class="instagram-icon-footer"><i class="icon ion-social-instagram border-of-social"></i></a>
          <a href="https://www.linkedin.com/company-beta/17970789/" class="linkedin-icon-footer"><i class="icon ion-social-linkedin border-of-social"></i></a>
          <!-- <a href="https://www.youtube.com/channel/UC9JR_GQYCezhAqBZEsCGTCA" class="youtube-icon-footer"><i class="icon ion-social-linkedin border-of-social"></i></a>-->
        </ul>
      </div>
      <div class="col-md-3 col-sm-4 item">
        <p class="style-footer-head">Web Team</p>
        <ul>
          <li><a style="font-size: 12.800px;" href="{{ site.baseurl }}/aboutUs">About us</a></li>
          <a href="#" data-toggle="modal" data-target="#yaritzaperez"><img class="icon-footer" src="{{ site.baseurl }}/img/icons-for-webteam/Yaritza.png" alt=""></a>
          <a href="#" data-toggle="modal" data-target="#salasc"><img class="icon-footer" src="{{ site.baseurl }}/img/icons-for-webteam/Christian.png" alt=""></a>
          <a href="#" data-toggle="modal" data-target="#gael-gil"><img class="icon-footer" src="{{ site.baseurl }}/img/icons-for-webteam/GaelGil.jpg" alt=""></a>
          <li><p style="font-size: 12.800px;">Changing the world one line of code at a time...</p></li>
        </ul>
      </div>

    </div>
    <!-- <p class="copyright"><small>Copyright &copy; Design &amp; Developed by <a href="http://www.themefisher.com">Themefisher</a>. All rights reserved.</small></p> -->
  </div>
</footer>
