<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>dev/Mission</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Chrome, Firefox OS and Opera -->
<meta name="theme-color" content="#1D3557">
<!-- Windows Phone -->
<meta name="msapplication-navbutton-color" content="#1D3557">
<!-- iOS Safari -->
<meta name="apple-mobile-web-app-status-bar-style" content="#1D3557">
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<meta name="google-site-verification" content="I03Uch0oRGZgplgllskFxdbSgAJCgTJ04Qq7ZV3rUaw" />
<!-- CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/owl.carousel.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/bootstrap.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/airspace.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/style.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/ionicons.min.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/animate.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/responsive.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/aboutUs.css" />
<link rel="stylesheet" href="{{ site.baseurl }}/css/individualBios.css" />
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" media="screen" rel="stylesheet">
<link href="//cdnjs.cloudflare.com/ajax/libs/foundation/5.5.0/css/normalize.css" media="screen" rel="stylesheet">
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400,300,600)" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:400,100,300,500,700" />
<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Volkhov:400italic" />
<link rel="icon" href="/img/devmission-logo.png">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/js/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/js/plugins.js"></script>
<script src="{{ site.baseurl }}/js/min/waypoints.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery.counterup.js"></script>
<script src="{{ site.baseurl }}/js/main.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-124835958-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.ga_tracking_id }}');
</script>

