---
layout: page
title: Our Work
permalink: /aboutUs/
---

<!-- Main Banner -->

  <!--Slider-->
<link rel="stylesheet" href="{{ site.baseurl }}/css/program.css" />
    <section id="slider" class="wrapper-program-slider" style="background: url({{ site.baseurl }}/img/about_images/banner2.jpg) no-repeat; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-10">
                    <div class="program-slider text-center">
                        <h1 class="text-color-white">About Us</h1>
                        <p class="animated fadeInUp lead">In early 2017, &lt;dev/Mission&gt; was founded by Leonardo Sosa and a team of technologists, that care about STEM opportunities for untapped young adults. Our goal is to connect the most overlooked population in San Francisco, Bay Area and beyond; and expose them to careers in the tech industry.</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>

<!-- Portfolio Start -->
<section id="portfolio-work">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 block">
                <div class="portfolio-menu">
                    <ul id="portofolio-list">
                        <li id="portfolio-list-0" class="filter" data-filter=".mix">Our Great Team</li>
                        <li id="portfolio-list-1" class="filter" data-filter=".leadershipTeam">Leadership Team</li>
                        <li id="portfolio-list-2" class="filter" data-filter=".staff">Staff</li>
                        <li id="portfolio-list-3" class="filter" data-filter=".webDevelopmentTeam">Web Development Team</li>
                        <!--<li id="portfolio-list-2" class="filter" data-filter=".ITdep">IT Department</li>-->
                        <!--<li id="portfolio-list-2" class="filter" data-filter=".staff">Staff</li>-->
                        <li id="portfolio-list-2" class="filter" data-filter=".interns">Interns</li>
                        <li id="portfolio-list-4" class="filter" data-filter=".designMediaTeam">Media and Design Team</li>
                    </ul>
                </div>
                <div id="portofolio-list-text">
                    <div class="row leadership hidden">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            <h1>Leadership Team</h1>
                            <p>Our values: Integrity, Community, Diversity, Equality, Responsibility and Motivation.</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="row mentors hidden">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            <h1>Staff</h1>
                            <p> Our wonderfull staff</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>

                    <div class="row webTeam hidden">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            <h1>Web Development Team</h1>
                            <p>Five young adults came together to build our dev/Mission website using their skills, puting their time, hard work, and dedication. </p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                    
                    <!--commented out incase for the future-->
                    <!--<div class="row media hidden"> 
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            <h1>IT Department</h1>
                            <p>Our information technology department, responsible for the architecture, hardware, software and networking of our computers.</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>-->
                  
                  
                     <div class="row media hidden">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            <h1>Interns</h1>
                            <p></p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>
                  
                    <div class="row media hidden">
                        <div class="col-md-1"></div>
                        <div class="col-md-10 text-center">
                            <h1>Media and Design Team</h1>
                            <p>Our logo and pictures are all thanks to our media and design team.</p>
                        </div>
                        <div class="col-md-1"></div>
                    </div>


                </div>
                <div class="row">

                    <div class="col-xs-12">
                        <div class="portfolio-content">

                            <ul id="portfolio-content-active">
                                <ul>
                                    {% for member in site.data.teams %}
                                    <li class="mix {{ member.teamClass }}">
                                    <a href="#" data-toggle="modal" data-target="#{{ member.linkedIn }}">
                                        <div class="pic-container">
                                            <div class="pic-box"><img src="{{ site.baseurl }}/img/about_images/{{ member.mainImage }}"></div>
                                            <div class="pic-box pic-hover"><img src="{{ site.baseurl }}/img/about_images/{{ member.funImage}}"></div>
                                        </div>
                                        <div class="bios">
                                            <h4>{{ member.name }}</h4>
                                            <p class="font1">{{ member.title }}</p>
                                        </div>
                                    </a>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- col 12 ends -->

            </div>
        </div>
    </div>
</section>
<!-- Members Modals -->
 {% for member in site.data.teams %}
    <div class="modal fade" id="{{ member.linkedIn }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <!--<div id="closeModal" data-dismiss="modal">
                    <button type="button" class="btn btn-default"><i class="fa fa-times fa-5x" aria-hidden="true"></i></button>
            </div>-->
            <div class="container-fluid">
                <div class="row">
                <button id="closeModal" type="button" class="btn" data-dismiss="modal"><i class="fa fa-times"></i></button>
                </div>
                <div class="row">
                    <div class="col-lg-10 col-lg-offset-1">
                        <div class="modal-body">
                            <section id="contact-form">
                                <div class="container">
                                    <div id="contact-box" class="row">
                                        <div class="col-md-6 col-sm-12">
                                            <div class="block">
                                                <div class="pic-container">
                                                    <div class="pic-box"><img src="{{ site.baseurl }}/img/about_images/{{ member.mainImage }}"></div>
                                                    <div class="pic-box pic-hover"><img src="{{ site.baseurl }}/img/about_images/{{ member.secImage }}"></div>
                                                    </div>
                                                    <h1>{{ member.team }}</h1>
                                                    <h2>{{ member.name }}</h2>
                                                    <ul class="address-block">

                                                    <li>
                                                        <i class="ion-bug"></i><strong>Speciality: </strong>{{ member.specialty }}
                                                    </li>

                                                    <li>
                                                        <i class="ion-leaf"></i><strong>Fun Fact: </strong> {{ member.funFact }}
                                                    </li>
                                                    {% if members.location != null %}
                                                    <li>
                                                        <i class="fa fa-map-marker"></i>{{ member.location }}
                                                    </li>
                                                    {% endif %}
                                                    {% if members.email != null %}
                                                    <li>
                                                        <i class="fa fa-envelope-o"></i>Email: {{ member.email }}
                                                    </li>
                                                    {% endif %}
                                                    {% if members.phone != null %}
                                                    <li>
                                                        <i class="fa fa-phone"></i>Phone: {{ member.phone }}
                                                    </li>
                                                    {% endif %}
                                                    </ul>

                                                    <ul class="social-icons">
                                                    {% if member.googlePlus != null %}
                                                    <li>
                                                        <a href="https://plus.google.com/{{ member.googlePlus}}" target="_blank"><i class="fa fa-google"></i></a>
                                                    </li>
                                                    {% endif %}

                                                    <li>
                                                        <a href="https://www.linkedin.com/in/{{ member.linkedIn }}/" target="_blank"><i class="fa fa-linkedin"></i></a>
                                                    </li>

                                                    {% if member.github != null %}
                                                    <li>
                                                        <a href="https://github.com/{{ member.github }}" target="_blank"><i class="fa fa-github"></i></a>
                                                    </li>
                                                    {% endif %}

                                                    {% if member.twitter != null %}
                                                    <li>
                                                        <a href="https://twitter.com/{{ member.twitter }}" target="_blank"><i class="fa fa-twitter"></i></a>
                                                    </li>
                                                    {% endif %}

                                                    {% if member.facebook != null %}
                                                    <li>
                                                        <a href="https://www.facebook.com/{{ member.facebook }}" target="_blank"><i class="fa fa-facebook"></i></a>
                                                    </li>
                                                    {% endif %}

                                                    {% if member.website != null %}
                                                    <li>
                                                        <a href="{{member.website}}" target="_blank"><i class="fa fa-eye"></i></a>
                                                    </li>
                                                    {% endif %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-md-6 col-sm-12">
                                            <div class="block">
                                                <p>{{ member.description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <div class="row text-center">
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}

<script type="text/javascript" src="{{ site.baseurl }}/js/about.js"></script>
