---
layout: page
title: Blog
permalink: /blog/
---
<!-- Slider Start -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/program.css" />
<main>
    <!--Slider-->
    <section id="slider" class="wrapper-program-slider" style="background: url(../img/newImages/BlogSection.jpg) no-repeat; background-size: cover;">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-10">
                    <div class="program-slider">
                        <h1 class="text-color-white animated fadeInUp">Welcome to &lt;dev/Mission&gt; Blog</h1>
                        <p class="animated fadeInUp lead">Read our Volunteer Stories, Press Releases and Much More!</p>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </section>

    <!--Main Content-->
    <section>
        <div class="container" style="margin-top:5%;">

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {% for post in site.posts %}
                      {% unless post.draft %}
                    <div class="post-preview text-left">
                        <a href="{{ post.url | prepend: site.baseurl }}" style="color:black">
                            <h2 class="blog-h2 post-title">
                            {{ post.title }}
                        </h2>
                            <h3 class="blog-h3 post-subtitle">
                            {{ post.subtitle}}
                        </h3>
                        {% if post.image != null %}
                        <img src="{{ site.baseurl }}/img/blog/{{ post.image }}" style="width:400px" alt="{{ post.alt }}">
                        {% endif %}
                        </a>
                        <p class="post-meta" style="color:grey">Posted by <a href="#" style="color:black">{{ post.author }}</a> on {{ post.date | date: "%B %-d, %Y" }}</p>
                    </div>
                    <hr style="border-top:1px solid #222;">
                      {% endunless %}
                    {% endfor %}
                </div>
            </div>
                <!--End of Program Content-->


            
    </section>
</main>

