---
layout: page
title: Home
permalink: /
---
<link rel="stylesheet" href="{{ site.baseurl }}/css/get-involved.css" />

<!-- Slider Start -->
<section id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-2">
        <div class="block">
          <h1 class="animated fadeInUp">&lt;dev/Mission&gt;</h1>
          <p class="animated fadeInUp">We aim to train untapped young adults for careers in technology so we can build wealth and prosperity in our local diverse communities.</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Wrapper Start -->
<section id="intro">
  <div class="container">
    <div class="row" style=" max-width: 84.5rem;">
      <div class="col-xs-12 col-sm-6 col-md-7">
        <div class="block">
          <div class="section-title">
            <h2>About Us</h2>
            <p class="text-font-rem">dev/Mission was founded in early 2017 by Leonardo Sosa and a team of technologists that care about STEM opportunities for diverse young adults.</p>
          </div>
          <p class="text-font-rem"> Our goal is to connect the most overlooked population in San Francisco, Bay Area and beyond; and expose them to careers in the tech industry.</p>
        </div>
      </div><!-- .col-md-7 close -->
      <div class="col-xs-12 col-sm-6 col-md-5  ">
        <div class="block">
          <img src="img/aboutus.jpg" alt="Img">
        </div>
      </div><!-- .col-md-5 close -->
    </div>
  </div>
</section>

<section id="feature">
<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-6">
      <h2>WE BELIEVE IN YOUTH!</h2>
      <p class="text-font-rem">There is a huge gap connecting young adults to tech opportunities in San Francisco, Bay Area and Beyond. To fix the gap between diversity in tech, diverse young adults need to be exposed & inspired by adults to whom they can relate.</p>
      <p class="text-font-rem">dev/Mission will close that gap by connecting tech companies; their employees and participants to corporate site visits, a mentorship model and internship/apprenticeship opportunities.</p>
      <p class="text-font-rem"> We are a best practice, technology training program that teaches untapped young adults ages 16-24, technology skills in hardware, coding and critical skills.</p>
      <a href="{{ site.baseurl }}/get-involved/program/" class="btn btn-view-works" style="border-radius:8%;">View Programs</a>
    </div>
  </div>
</div>
</section>

<!-- Service Start -->
<section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Our Sponsors and Partners</h2>
        <p>This would not be possible without their support.</p>
      </div>
    </div>
    <div class="row ">
      <div class="col-xs-6 col-sm-3">
        <div class="service-item">
          <!-- <img class="sponsor-img" id='missionhousing' src="img/sponsors/missionhousing.jpg" alt="missionhousinglogo"> -->
          <img class="sponsor-img" src="img/sponsors/missionhousing.jpg" alt="missionhousinglogo">
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="service-item">
          <!-- <img class="sponsor-img" id='uber' src="img/sponsors/Uber_logo.png" alt="uberlogo"> -->
          <img class="sponsor-img" src="img/sponsors/Uber_logo.png" alt="uberlogo">
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="service-item">
          <!-- <img class="sponsor-img" id='dropbox' src="img/sponsors/dropbox.png" alt="dropboxlogo" > -->
          <img class="sponsor-img"  src="img/sponsors/dropbox.png" alt="dropboxlogo" >
        </div>
      </div>
      <div class="col-xs-6 col-sm-3">
        <div class="service-item">
          <!-- <img class="sponsor-img" id='impacthub' src="img/sponsors/impactHub.png" alt="impacthublogo"> -->
          <img class="sponsor-img" src="img/sponsors/impactHub.png" alt="impacthublogo">
        </div>
      </div>
    </div>
    <div class="row ">
      <div class="col-xs-6 col-sm-3">
        <div class="service-item">
          <!-- <img class="sponsor-img" id='jonesit' src="img/sponsors/JonesIT.png" alt="jonesitlogo"> -->
          <img class="sponsor-img" src="img/sponsors/JonesIT.png" alt="jonesitlogo">
        </div>
      </div>

      <div class="col-xs-6 col-sm-3">
        <div class="service-item">
          <!-- <img class="sponsor-img" id='usf' src="img/sponsors/usf.png" alt="usflogo"> -->
          <img class="sponsor-img" src="img/sponsors/usf.png" alt="usflogo">
        </div>
      </div>

      <div class="col-xs-6 col-sm-3">
        <div class="service-item">
          <!-- <img class="sponsor-img" id='jamestown' src="img/sponsors/jamestown.png" alt="jamestownlogo"> -->
          <img class="sponsor-img" src="img/sponsors/jamestown.png" alt="jamestownlogo">
        </div>
      </div>

      <div class="col-xs-6 col-sm-3">
        <div class="service-item">
          <!-- <img class="sponsor-img" id='arizmendi' src="img/sponsors/Arizmendi.jpg" alt="arizmendilogo" > -->
            <img class="sponsor-img" src="img/sponsors/Arizmendi.jpg" alt="arizmendilogo" >
        </div>
      </div>

    </div>

    <div class="row ">
      <div class="col-xs-6 col-sm-3">
        <div class="service-item">
          <!-- <img class="sponsor-img" id='accelai' src="img/sponsors/accelai.png" alt="accelailogo"> -->
          <img class="sponsor-img" src="img/sponsors/accelai.png" alt="accelailogo">
        </div>
      </div>

      <div class="col-xs-6 col-sm-3">
        <div class="service-item">
          <!-- <img class="sponsor-img" id='ampush' src="img/sponsors/ampush.png" alt="ampushlogo"> -->
          <img class="sponsor-img" src="img/sponsors/ampush.png" alt="ampushlogo">
        </div>
      </div>

      <div class="col-xs-6 col-sm-3">
          <div class="service-item">
            <!-- <img class="sponsor-img" id='homey' src="img/sponsors/Homey.png" alt="homeylogo"  > -->
            <img class="sponsor-img" src="img/sponsors/Homey.png" alt="homeylogo"  >
          </div>
      </div>

      <div class="col-xs-6 col-sm-3">
          <div class="service-item">
            <!-- <img class="sponsor-img" id='changecatalyst' src="img/sponsors/changecatalyst.png" alt="changecatalystlogo"> -->
            <img class="sponsor-img" src="img/sponsors/changecatalyst.png" alt="changecatalystlogo">
          </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6 col-sm-3">
            <div class="service-item">
              <!-- <img class="sponsor-img" id='techcrunch' src="img/sponsors/TechCrunch.jpg" alt="techcrunchlogo"> -->
              <img class="sponsor-img" src="img/sponsors/TechCrunch.jpg" alt="techcrunchlogo">
            </div>
        </div>
      </div>
    </div>
    <!-- <div class="row "> -->
      <!-- <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img id='mercy' src="img/sponsors/mercy.png" alt="mercylogo">
        </div>
      </div> -->
      <!-- <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img id='myeep' src="img/sponsors/myeep.png" alt="myeeplogo">
        </div>
      </div> -->
      <!-- <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <img id='sfofficeofEcon' src="img/sponsors/sfofficeofEcon.png" alt="sfofficeofEconlogo">
        </div>
        </div> -->
    <!-- </div> -->
  </div>
</section>

<!-- Due to previous comments in this section I had to comment out the whole code piece by piece-->

<!-- Call to action Start -->
<!--<section id="call-to-action">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="block">
          <h2>Want to join our journey?</h2>


            <div class="row">
                <div class="col-lg-12">
                   <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">-->
  <!-- Indicators -->
  <!--<ol class="carousel-indicators" style="bottom: -20px;">
    {% for image in site.data.fbImage %}
    {% if image.position == 0 %}
    <li data-target="#carousel-example-generic" data-slide-to="{{img.position}}" class="active"></li>
    {% else %}
    <li data-target="#carousel-example-generic" data-slide-to="{{ image.position }}"></li>
    {% endif %}
    {% endfor %}
  </ol>-->

  <!-- Wrapper for slides -->
  <!--<div class="carousel-inner" role="listbox">

    {% for image in site.data.fbImage %}
      {% if image.position == 0 %}
    <div class="item active">
      {% else %}
       <div class="item">
    {% endif %}
      <img class="galleryItem" src="{{ image.photo }}" alt="{{ image.alt }}">
      <div class="carousel-caption" style="padding-bottom: 0px;
    bottom: 0;">
        <p style="text-shadow: 2px 2px 10px mediumblue;">{{ image.title }}</p>
      </div>
    </div>
    {% endfor %}
  </div>-->

  <!-- Controls -->
  <!--<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left icon-prev" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right icon-next" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
                </div>
            </div>




            <div class="button-group" data-grouptype="" style="margin-top: 3%;">
                <a style="font-size: 1.200rem;" href="{{ site.baseurl }}/get-involved/program/participate" class="small button primary radius">Apply Now!</a>
              <a style="font-size: 1.200rem;" href="{{ site.baseurl }}/get-involved/volunteer" class="small button success radius">Get Involved!</a>
        </div>
      </div>
    </div>
  </div>
</section>-->
